<section class="w3l-passion-mid-sec py-5">
    <div class="container py-md-5 py-3">
        <div class="row w3l-passion-mid-grids">

            <div class="col-lg-6 passion-grid-item-info pe-lg-5 mb-lg-0 mb-5">
                <h6 class="title-subw3hny mb-1">@ViewBag.leftTitle1</h6>
                <h3 class="title-w3l mb-4">@ViewBag.leftTitle2</h3>
                <p class="mt-3 pe-lg-5">
                    @ViewBag.leftTitle3
                </p>
                <div class="w3banner-content-btns">
                    <a href="about.html" class="btn btn-style btn-primary mt-lg-5 mt-4 me-2">Daha Fazlası </a>

                </div>
            </div>
            <div class="col-lg-6 passion-grid-item-info ps-lg-4">
                <div class="w3lgrids-1 box-wrap">
                    <div class="icon">
                        <i class="fas fa-truck-loading"></i>
                    </div>
                    <div class="icon-text">
                        <h4><a href="#service" class="title-head mb-3">@ViewBag.rightTitle1</a></h4>
                        <p class="text-para mt-3">@ViewBag.rightTitle2</p>
                    </div>
                </div>
                <div class="w3lgrids-1 box-wrap mt-4">
                    <div class="icon">
                        <i class="fas fa-boxes"></i>
                    </div>
                    <div class="icon-text">
                        <h4><a href="#service" class="title-head mb-3">@ViewBag.rightTitle3</a></h4>
                        <p class="text-para mt-3">@ViewBag.rightTitle4</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
